# ... if user installed pip locally
**/get-pip.py
# ... if user storing vars to export to run make locally
.env_vars

# ... ignore the assets from the build process
**/*.pem
**/*.gz
**/*.swp
**/packer_includes
